body {
  /* #343838,#005F6B,#008C9E,#00B4CC,#00DFFC */
  background-color: #343838;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  font-size: 1.1rem;
  font-style: normal;
  /* --------- Imagenes --------- */
  /* --------- LINKS ---------- */
  /* -------- Mapas ---------- */
}
body :root {
  --clippy: polygon(0 0, 0 0,0 100%, 0% 100%);
}
@media (max-width: 767px) {
  body {
    font-size: 1rem;
  }
  body h2, body h3 {
    font-size: 1.8rem;
  }
}
body h2, body h3 {
  margin: 0;
  padding: 0;
  color: #00B4CC;
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}
body h2 {
  font-size: 2.6rem;
}
body h3 {
  font-size: 2rem;
}
body p, body ol, body ul {
  margin-top: 0;
}
body p {
  line-height: 180%;
  text-align: justify;
  font-weight: 300;
}
body ol, body ul {
  padding: 0;
  list-style: none;
}
body img {
  display: block;
  margin: auto;
  width: 60%;
  height: 40rem;
  object-fit: cover;
}
body #argen {
  display: block;
  margin: auto;
}
body #argen img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
@media (max-width: 767px) {
  body img {
    margin: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  body #argen img {
    margin: auto;
    width: 100%;
    height: auto;
  }
}
body .link {
  color: #000000;
  border-radius: 1cm;
  text-decoration: none;
  font-weight: 700;
}
body .mapa iframe {
  width: 100%;
  background-size: cover;
  margin-bottom: 5px;
}

header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #38b1d6;
  border-bottom: solid 1px black;
  /* ------- Menu  -------- */
}
header h1 {
  color: rgb(255, 255, 255);
  float: left;
  padding: none;
  margin: none;
  height: 60px;
  width: 30%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
header img {
  width: 6%;
  height: auto;
  border: #000000 2px solid;
  margin: auto;
}
@media (max-width: 767px) {
  header h1 {
    visibility: hidden;
  }
  header img {
    width: 25%;
  }
}
header nav {
  float: right;
  width: 70%;
  height: 100%;
  margin: none;
}
header nav ul {
  text-align: center;
  float: right;
  margin: none;
  background: rgba(6, 126, 200, 0.937254902);
  border: solid 2px black;
}
header nav ul li {
  display: inline-block;
  padding: none;
  margin: none;
}
header nav ul li a, header nav ul li span {
  display: inline-block;
  padding: 0em 1.5em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 60px;
}
header nav ul li a {
  color: #FFF;
}
header nav ul li:hover a, header nav ul li span {
  background: #FFF;
  color: #0074D9;
  border-left: 1px solid #0074D9;
  text-decoration: none;
  transition: 0.5s;
}
@media (max-width: 767px) {
  header nav nav ul li a {
    visibility: collapse;
  }
}

footer p {
  width: 100%;
  color: rgb(252, 252, 252);
  text-align: center;
  background-color: rgb(3, 161, 156);
}
footer #arriba {
  display: inline-block;
  width: 100%;
  color: rgb(252, 252, 252);
  text-align: center;
  text-decoration: none;
  background-color: rgb(3, 161, 156);
}
footer #arriba:hover {
  text-decoration: underline;
}
footer #footer-nav {
  background-color: #00B4CC;
  text-align: center;
  border-bottom: rgb(3, 161, 156) solid 15px;
}
footer #footer-nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
footer #footer-nav ul a {
  text-decoration: none;
  color: #FFF;
}
footer #footer-nav ul a:hover {
  transition-duration: 1s;
  color: #000000;
  text-transform: uppercase;
  background-color: white;
  padding: 0.5rem;
}
@media (max-width: 767px) {
  footer #footer-nav ul {
    flex-direction: column;
  }
}
footer #home {
  display: inline;
  color: red;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: #FFF;
  padding: 15px;
  border-radius: 100px;
  border: solid 3px rgba(0, 0, 0, 0.8705882353);
  text-decoration: none;
  font-weight: 800;
}
footer #home:hover {
  transition: 1s;
  background-color: #000000;
  color: white;
}

html {
  scroll-behavior: smooth;
}
html body .container {
  margin: 0px auto;
  width: 70%;
  /* ---------- REGIONES INDEX ---------- */
  /* --------- RECOMENDADOS INDEX ---------- */
  /* ----------- PROVINCIAS INDEX ------- */
  /* PROVINCIAS INDEX TABLET */
}
@media (max-width: 767px) {
  html body .container {
    width: 90%;
  }
}
html body .container section {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  padding: 0px 1rem;
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-bottom: solid 2px black;
}
html body .container #regiones-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 2fr 0.7fr;
  background-color: #005F6B;
  width: auto;
}
html body .container #regiones-index .mapareg {
  display: block;
  margin: auto;
}
html body .container #regiones-index .mapareg img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
html body .container #regiones-index .grilla ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: #000000 solid 5px;
  gap: 5px;
}
html body .container #regiones-index .grilla ol li {
  border: #000000 solid 2px;
  padding: 5px;
  background-color: #FFF;
}
html body .container #regiones-index .grilla ol li a {
  text-align: center;
  display: block;
  padding: 10px;
  color: aliceblue;
  background-color: #00B4CC;
  border-radius: 15px;
  margin-top: 5px;
  border: solid 1px black;
  text-decoration: none;
}
html body .container #regiones-index .grilla ol li a:hover {
  background: rgba(201, 24, 24, 0.8823529412);
  transition: 0.5s;
}
@media (max-width: 767px) {
  html body .container #regiones-index {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 2fr 0.1fr;
  }
  html body .container #regiones-index .mapareg img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  html body .container #regiones-index .grilla ol {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  html body .container #regiones-index .grilla ol li a {
    padding: 1px;
    margin-top: 0px;
  }
}
html body .container #recomendaciones #one, html body .container #two, html body .container #three, html body .container #four {
  display: inline-block;
  margin: 0.5em;
  margin-bottom: 2rem;
  background: #898989;
  padding: 30px;
  position: relative;
  border: solid #00DFFC;
  border-radius: 15px;
  box-shadow: 10px 5px 7px 0px black;
}
html body .container #recomendaciones #one img, html body .container #two img, html body .container #three img, html body .container #four img {
  width: 10rem;
  height: 10rem;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: solid 1px black;
}
html body .container #recomendaciones #one a, html body .container #two a, html body .container #three a, html body .container #four a {
  text-align: center;
  display: block;
  padding: 10px;
  color: aliceblue;
  background-color: #00B4CC;
  border-radius: 15px;
  margin-top: 5px;
  border: solid 1px black;
  text-decoration: none;
  font-weight: 700;
}
html body .container #recomendaciones #one a:hover, html body .container #two a:hover, html body .container #three a:hover, html body .container #four a:hover {
  background: rgba(201, 24, 24, 0.8823529412);
  transition: 0.5s;
}
@media (max-width: 767px) {
  html body .container #recomendaciones #one, html body .container #two, html body .container #three, html body .container #four {
    padding: 15px;
    justify-content: space-evenly;
  }
}
html body .container #provincias-index {
  display: flex;
  background-color: #898989;
}
html body .container #provincias-index p {
  color: white;
}
html body .container #provincias-index div ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: #000000 solid 5px;
  gap: 5px;
}
html body .container #provincias-index div ol li {
  border: #000000 solid 2px;
  padding: 5px;
  background: #ffffff;
}
html body .container #provincias-index div ol li a {
  text-align: center;
  display: block;
  padding: 10px;
  color: aliceblue;
  background-color: #00B4CC;
  border-radius: 15px;
  margin: 0px;
  border: solid 1px black;
  text-decoration: none;
}
html body .container #provincias-index div ol li a:hover {
  background: rgba(201, 24, 24, 0.8823529412);
  transition: 0.5s;
}
@media (max-width: 1023px) {
  html body .container #provincias-index div ol {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  html body .container #provincias-index div ol li {
    font-size: 100%;
  }
}

#comida {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* ---------- COMIDAS PAGE MOBILE ------------- */
}
#comida .primera-fila {
  display: block;
  margin: auto;
}
#comida .primera-fila img {
  border: #000000 solid 2px;
  height: 50%;
  margin-bottom: 25px;
}
#comida .primera-fila p {
  align-items: center;
}
#comida .comidas {
  width: 29%;
  padding: 10px;
  margin-bottom: 1rem;
  background: #00B4CC;
}
#comida .comidas article {
  background-color: white;
  padding: 20px;
}
#comida .comidas article img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: none;
  margin: none;
}
#comida .comidas article h3 {
  text-align: center;
  object-fit: cover;
}
#comida .comidas article p {
  border-top: #000000 solid 1px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #comida .comidas {
    width: 42%;
  }
  #comida .comidas img {
    width: 100%;
    height: 20%;
  }
}
@media (max-width: 767px) {
  #comida .comidas {
    width: 40%;
  }
  #comida .comidas p {
    display: none;
  }
  #comida .comidas img {
    width: 70%;
  }
  #comida .comidas h3 {
    font-size: 100%;
  }
}

#recomendados-page {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  padding: 0px 1rem;
  border-left: solid 3px black;
  border-right: solid 3px black;
}
#recomendados-page article {
  display: block;
}
#recomendados-page article img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: #000000 solid 2px;
}
#recomendados-page article h3 {
  text-decoration: underline;
}

/* ----------- RECOMENDADOS PAGE MOBILE ----------- */
@media (max-width: 768px) {
  article h2, h3 {
    text-align: center;
  }
}
#provincias #imagen {
  display: block;
  margin: auto;
}
#provincias #imagen img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
#provincias section p {
  text-decoration: wavy;
  border-top: solid 2px black;
}
#provincias div ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: #000000 solid 5px;
  gap: 5px;
}
#provincias div ol li {
  border: #000000 solid 2px;
  padding: 5px;
  background: #ffffff;
}
#provincias div ol li a {
  text-align: center;
  display: block;
  padding: 10px;
  color: aliceblue;
  background-color: #00B4CC;
  border-radius: 15px;
  margin-top: 5px;
  border: solid 1px black;
  text-decoration: none;
}
#provincias div ol li a:hover {
  background: rgba(201, 24, 24, 0.8823529412);
  transition: 0.5s;
}

/* -------- PROVINCIAS PAGE TABLET ------------ */
@media (min-width: 768px) and (max-width: 1023px) {
  #provincias #imagen img {
    height: auto;
  }
  #provincias div ol {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  #provincias section h2, #provincias h3 {
    text-align: center;
  }
}
/* -------- PROVINCIAS PAGE MOBILE ------- */
@media (max-width: 767px) {
  #imagen img {
    width: auto;
  }
  #provincias div ol {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(24, 1fr);
  }
  section h2, h3 {
    text-align: center;
  }
}
#regiones {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15px 2fr 1fr;
  background-color: #005F6B;
}
#regiones #titulo-region {
  display: inline;
}
#regiones #imagen {
  display: block;
  margin: auto;
}
#regiones #imagen img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
#regiones #reg-lista ul li {
  margin: 2rem;
  background-color: #00B4CC;
  border-radius: 10px;
  width: auto;
  text-align: center;
}

.texto p {
  border-top: solid 2px black;
}

section {
  border-bottom: none;
}

/* ----------- REGIONES PAGE MOBILE ----------- */
@media (max-width: 768px) {
  #regiones {
    grid-template-rows: 20px 2fr 1fr;
  }
}
@media (max-width: 445px) {
  #regiones {
    grid-template-rows: 50px 2fr 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
