html{
    scroll-behavior: smooth;

    body{
        $color-primary: #00B4CC;
        /* #343838,#005F6B,#008C9E,#00B4CC,#00DFFC */
        :root{
            --clippy: polygon(0 0, 0 0,0 100%, 0% 100%);
        }

        background-color:#343838;
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto';
        font-size: 1.1rem;
        font-style: normal;

        @media (max-width: 767px){
            &{
                font-size: 1rem;
            }

            h2, h3{
                font-size: 1.8rem;
            }
        }

        h2,h3{
            margin: 0;
            padding: 0;
            color: #00B4CC;
            font-weight: 900;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000000;
        }

        h2{
            font-size: 2.6rem;
        }

        h3{
            font-size: 2rem;
        }

        p, ol, ul{
            margin-top: 0;
        }

        p{
            line-height: 180%;
            text-align: justify;
            font-weight: 300;
        }

        ol, ul{
            padding: 0;
            list-style: none;
        }

        /* --------- Imagenes --------- */
        img{
            display: block;
            margin: auto;
            width: 60%;
            height: 40rem;
            object-fit: cover;
        }

        #argen{
            display: block;
            margin: auto;

            img{
                    width: 100%;
                    height: 40rem;
                    object-fit: cover;
                }
        }

        @media (max-width: 767px){
            img{
                margin: 0;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        
            #argen img{
                margin: auto;
                width: 100%;
                height: auto;
            }
        }

        /* --------- LINKS ---------- */
        .link{
            color: #000000;
            border-radius: 1cm ;
            text-decoration: none;
            font-weight: 700;
        }

        /* -------- Mapas ---------- */
        .mapa iframe{ 
            width: 100%;
            background-size: cover;
            margin-bottom: 5px;
        }

        /* --------- Header ------- */
        header{
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #38b1d6;
            border-bottom: solid 1px black;

            h1{
                color: rgb(255, 255, 255);
                float: left;
                padding: none;
                margin: none;
                height: 60px;
                width: 30%;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
            }

            img{
                width: 6%;
                height: auto;
                border: #000000 2px solid;
                margin: auto;
            }

            @media (max-width: 767px){
                h1{
                    visibility: hidden;
                }

                img{
                    width: 25%;
                }
            }

            /* ------- Menu  -------- */
            nav{
                float: right;
                width: 70%;
                height: 100%;
                margin: none;

                ul {
                    text-align: center;
                    float: right;
                    margin: none;
                    background: #067ec8ef;
                    border: solid 2px black;

                    li {
                        display: inline-block;
                        padding: none;
                        margin: none;

                        a, span{
                            display: inline-block;
                            padding: 0em 1.5em;
                            text-decoration: none;
                            font-weight: 600;
                            text-transform: uppercase;
                            line-height: 60px;
                        }

                        a{
                            color: #FFF;
                        }

                        &:hover a, & span{
                            background: #FFF;
                            color: #0074D9;
                            border-left: 1px solid #0074D9;
                            text-decoration: none;
                            transition: 0.5s;
                        }
                    }
                }

                @media (max-width: 767px){
                    nav ul li a{
                        visibility: collapse;
                    }
                }
            }
        }

        /* --------- MAIN -------- */
        .container{ 
            margin: 0px auto;
            width: 70%;
            @media (max-width: 767px){
                &{
                    width: 90%;
                }
            }

            section{
                background-color: white;
                display: flex;
                flex-flow: column wrap;
                padding: 0px 1rem;
                border-left: solid 3px black;
                border-right: solid 3px black;
                border-bottom: solid 2px black;
            }

            /* ---------- REGIONES INDEX ---------- */
            #regiones-index{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 50px 2fr 0.7fr;
                background-color:#005F6B;
                width: auto;


                .mapareg{
                    display: block;
                    margin: auto;

                    img{
                        width: 100%;
                        height: 40rem;
                        object-fit: cover;
                    }
                }

                .grilla ol{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2,1fr);
                    border: #000000 solid 5px;
                    gap: 5px;

                    li{
                        border: #000000 solid 2px;
                        padding: 5px;
                        background-color: #FFF;

                        a{
                            text-align: center;
                            display: block;
                            padding: 10px;
                            color: aliceblue;
                            background-color: $color-primary;
                            border-radius: 15px;
                            margin-top: 5px;
                            border: solid 1px black;
                            text-decoration: none;

                            &:hover{
                                background: #c91818e1;
                                transition: 0.5s;
                            }
                        }
                    }            
                }

                @media (max-width: 767px) {

                    &{
                        grid-template-columns: 1fr;
                        grid-template-rows: 50px 2fr 0.1fr;

                        .mapareg img{
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }

                        .grilla ol{
                            grid-template-columns: repeat(2,1fr);
                            grid-template-rows: repeat(3,1fr);

                            li a{
                                padding: 1px;
                                margin-top: 0px;
                            }
                        }
                    }
                }
            }

            /* --------- RECOMENDADOS INDEX ---------- */
            #recomendaciones #one, #two, #three, #four{ 
                display: inline-block;
                margin: 0.5em;
                margin-bottom: 2rem;
                background:  #898989;
                padding: 30px;
                position: relative;
                border: solid #00DFFC;
                border-radius: 15px;
                box-shadow: 10px 5px 7px 0px black;

                img{
                    width: 10rem;
                    height: 10rem;
                    border-top-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                    border: solid 1px black;
                }

                a{
                    text-align: center;
                    display: block;
                    padding: 10px;
                    color: aliceblue;
                    background-color: $color-primary;
                    border-radius: 15px;
                    margin-top: 5px;
                    border: solid 1px black;
                    text-decoration: none;
                    font-weight: 700;

                    &:hover{
                        background: #c91818e1;
                        transition: 0.5s;
                    }
                }

                @media (max-width: 767px) {
                    &{
                        padding: 15px;
                        justify-content: space-evenly;
                    }
                }
            }

            /* ----------- PROVINCIAS INDEX ------- */
            #provincias-index{ 
                display: flex;
                background-color: #898989;
                
                p{
                    color: white;
                }

                div ol{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(8,1fr);
                    border: #000000 solid 5px;
                    gap: 5px;

                    li{
                        border: #000000 solid 2px;
                        padding: 5px;
                        background: #ffffff;
                    
                        a{
                            text-align: center;
                            display: block;
                            padding: 10px;
                            color: aliceblue;
                            background-color: $color-primary;
                            border-radius: 15px;
                            margin: 0px;
                            border: solid 1px black;
                            text-decoration: none;

                            &:hover{
                                background: #c91818e1;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }

            /* PROVINCIAS INDEX TABLET */
            @media (max-width: 1023px) {
                #provincias-index div ol{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(12,1fr);
                
                    li{
                        font-size: 100%;
                    }
                }
            }


            /* ---------- COMIDAS PAGE -------- */
            #comida{ 
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;

                .primera-fila{
                    display: block;
                    margin: auto;

                    img{
                        border: #000000 solid 2px;
                        height: 50%;
                        margin-bottom: 25px;
                    }

                    p{
                        align-items: center;
                    }
                }

                .comidas{
                    width: 29%;
                    padding: 10px;
                    margin-bottom: 1rem;
                    background: $color-primary;

                    article{
                        background-color: white;
                        padding: 20px; 

                        img{
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            border: none;
                            margin: none;
                        }

                        h3{
                            text-align: center;
                            object-fit: cover;
                        }

                        p{
                            border-top:#000000 solid 1px;
                        }
                    }
                }

                /* ---------- COMIDAS PAGE MOBILE ------------- */
                @media (min-width: 768px) and (max-width: 1023px) { 
                    .comidas{
                        width: 42%;

                        img{
                        width: 100%;
                        height: 20%;
                        }
                    }
                }

                @media (max-width: 767px){
                    .comidas{ 
                        width: 40%;

                        p{
                            display: none;
                        }

                        img{
                            width: 70%;
                        }

                        h3{
                            font-size: 100%;
                        }
                    }
                }
            }

            /* ---------- REGIONES PAGE ------------ */
            #regiones{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 15px 2fr 1fr;
                background-color:#005F6B;

                #titulo-region{
                    display: inline;
                }

                #imagen{
                    display: block;
                    margin: auto;

                    & img{
                    width:100%;
                    height: 40rem;
                    object-fit: cover;
                    }
                }

                #reg-lista ul li{
                    margin: 2rem;
                    background-color: $color-primary;
                    border-radius: 10px;
                    width: auto;
                    text-align: center;
                }
            }

            .texto p{
                border-top: solid 2px black;
            }

            section{
                border-bottom: none;
            }

            /* ----------- REGIONES PAGE MOBILE ----------- */
            @media (max-width: 768px) {
                #regiones{
                    grid-template-rows: 20px 2fr 1fr;
                }
            }

            /* --------- PAGE RECOMENDADOS ----------- */
            #recomendados-page{ 
                background-color: white;
                display: flex;
                flex-flow: column wrap;
                padding: 0px 1rem;
                border-left: solid 3px black;
                border-right: solid 3px black;

                article{
                    display: block;

                    img{
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        border: #000000 solid 2px;
                    }

                    h3{
                    text-decoration: underline;
                    }
                }
            }

            /* ----------- RECOMENDADOS PAGE MOBILE ----------- */
            @media (max-width: 768px) { 
                article h2, h3{
                    text-align: center;
                }
            }

            /* -------- PROVINCIAS PAGE ----------- */
            #provincias{ 
                #imagen{
                    display: block;
                    margin: auto;

                    & img{
                    width:100%;
                    height: 40rem;
                    object-fit: cover;
                    }
                }

                section p{
                    text-decoration: wavy;
                    border-top: solid 2px black;
                }

                div ol{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(8,1fr);
                    border: #000000 solid 5px;
                    gap: 5px;
                

                    li{
                        border: #000000 solid 2px;
                        padding: 5px;
                        background: #ffffff;

                        a{
                            text-align: center;
                            display: block;
                            padding: 10px;
                            color: aliceblue;
                            background-color: $color-primary;
                            border-radius: 15px;
                            margin-top: 5px;
                            border: solid 1px black;
                            text-decoration: none;
                        }
                
                        a:hover{
                            background: #c91818e1;
                            transition: 0.5s;
                        }
                    }
                }
            }

            /* -------- PROVINCIAS PAGE TABLET ------------ */
            @media (min-width: 768px) and (max-width: 1023px) { 
                #provincias{
                    #imagen img{
                        height: auto;
                    }

                    div ol{
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(12,1fr);
                    }

                    section h2, h3{
                        text-align: center;
                    }
                }
            }

            /* -------- PROVINCIAS PAGE MOBILE ------- */
            @media (max-width: 767px) {
                #imagen img{
                    width: auto;
                }

                #provincias div ol{
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: repeat(24,1fr);
                }
                section h2, h3{
                    text-align: center;
                }
            }
        }

        /* ----------- FOOTER --------- */
        footer{ 
            p{
            width: 100%;
            color: rgb(252, 252, 252);
            text-align: center;
            background-color: rgb(3, 161, 156);
            }

            #arriba{
            display: inline-block;
            width: 100%;
            color: rgb(252, 252, 252);
            text-align: center;
            text-decoration: none;
            background-color: rgb(3, 161, 156);

                &:hover{
                    text-decoration: underline;
                }
            }

            #home{
                display: inline;
                color: red;
                position:fixed;
                bottom: 5px;
                right: 5px;
                background-color: #FFF;
                padding: 15px;
                border-radius: 100px;
                border: solid 3px #000000de;
                text-decoration: none;
                font-weight: 800;

                &:hover{
                    transition: 1s;
                    background-color: #000000;
                    color: white;
                }
            }
        }
    }
}