html{
    scroll-behavior: smooth;

    body{
        .container{ 
            margin: 0px auto;
            width: 70%;
            @media (max-width: 767px){
                &{
                    width: 90%;
                }
            }

            section{
                background-color: white;
                display: flex;
                flex-flow: column wrap;
                padding: 0px 1rem;
                border-left: solid 3px black;
                border-right: solid 3px black;
                border-bottom: solid 2px black;
            }

            /* ---------- REGIONES INDEX ---------- */
            #regiones-index{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 50px 2fr 0.7fr;
                background-color:#005F6B;
                width: auto;


                .mapareg{
                    display: block;
                    margin: auto;

                    img{
                        width: 100%;
                        height: 40rem;
                        object-fit: cover;
                    }
                }

                .grilla ol{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2,1fr);
                    border: #000000 solid 5px;
                    gap: 5px;

                    li{
                        border: #000000 solid 2px;
                        padding: 5px;
                        background-color: #FFF;

                        a{
                            text-align: center;
                            display: block;
                            padding: 10px;
                            color: aliceblue;
                            background-color: $color-primary;
                            border-radius: 15px;
                            margin-top: 5px;
                            border: solid 1px black;
                            text-decoration: none;

                            &:hover{
                                background: #c91818e1;
                                transition: 0.5s;
                            }
                        }
                    }            
                }

                @media (max-width: 767px) {

                    &{
                        grid-template-columns: 1fr;
                        grid-template-rows: 50px 2fr 0.1fr;

                        .mapareg img{
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }

                        .grilla ol{
                            grid-template-columns: repeat(2,1fr);
                            grid-template-rows: repeat(3,1fr);

                            li a{
                                padding: 1px;
                                margin-top: 0px;
                            }
                        }
                    }
                }
            }

            /* --------- RECOMENDADOS INDEX ---------- */
            #recomendaciones #one, #two, #three, #four{ 
                display: inline-block;
                margin: 0.5em;
                margin-bottom: 2rem;
                background:  #898989;
                padding: 30px;
                position: relative;
                border: solid #00DFFC;
                border-radius: 15px;
                box-shadow: 10px 5px 7px 0px black;

                img{
                    width: 10rem;
                    height: 10rem;
                    border-top-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                    border: solid 1px black;
                }

                a{
                    text-align: center;
                    display: block;
                    padding: 10px;
                    color: aliceblue;
                    background-color: $color-primary;
                    border-radius: 15px;
                    margin-top: 5px;
                    border: solid 1px black;
                    text-decoration: none;
                    font-weight: 700;

                    &:hover{
                        background: #c91818e1;
                        transition: 0.5s;
                    }
                }

                @media (max-width: 767px) {
                    &{
                        padding: 15px;
                        justify-content: space-evenly;
                    }
                }
            }

            /* ----------- PROVINCIAS INDEX ------- */
            #provincias-index{ 
                display: flex;
                background-color: #898989;
                
                p{
                    color: white;
                }

                div ol{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(8,1fr);
                    border: #000000 solid 5px;
                    gap: 5px;

                    li{
                        border: #000000 solid 2px;
                        padding: 5px;
                        background: #ffffff;
                    
                        a{
                            text-align: center;
                            display: block;
                            padding: 10px;
                            color: aliceblue;
                            background-color: $color-primary;
                            border-radius: 15px;
                            margin: 0px;
                            border: solid 1px black;
                            text-decoration: none;

                            &:hover{
                                background: #c91818e1;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }

            /* PROVINCIAS INDEX TABLET */
            @media (max-width: 1023px) {
                #provincias-index div ol{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(12,1fr);
                
                    li{
                        font-size: 100%;
                    }
                }
            }
        }
    }
}